<head>
	Homepage
</head>

<body>
	<p>
		<strong>Lists:</strong><br>
		<%= link_to 'Movies', movies_path %><br>
		<%= link_to 'Shows', shows_path %><br>
		<%= link_to 'Books', books_path %><br>
		<%= link_to 'Comics', comics_path %><br>
	</p>
</body>
